################################################################################
# This .gitignore file was automatically created by Google(R) Visual Studio.
################################################################################

/ClassLibraries/Health_Insurance/Health_Insurance.Application/obj
/ClassLibraries/Health_Insurance/Health_Insurance.Data/obj/Debug/net8.0
/ClassLibraries/Health_Insurance/Health_Insurance.Data/obj
/ClassLibraries/Health_Insurance/Health_Insurance.Block/obj/Debug/net8.0
/ClassLibraries/Health_Insurance/Health_Insurance.Block/obj
/WebApplications/Health_Insurance/Health_Insurance.Api.Store/obj/Debug/net8.0
/WebApplications/Health_Insurance/Health_Insurance.Api.Store/obj
/.vs/Health_Insurance/FileContentIndex/vsidx
/ClassLibraries/Health_Insurance/Health_Insurance.Application/bin/Debug/net8.0
/ClassLibraries/Health_Insurance/Health_Insurance.Data/bin/Debug/net8.0
/ClassLibraries/Health_Insurance/Health_Insurance.Block/bin/Debug/net8.0
/WebApplications/Health_Insurance/Health_Insurance.Api.Store/bin
/.vs
